
<h2 class="intro">


<% if is_logged_in?() %>
   Welcome <%=current_user["first_name"]%>! wanna recommend a new ep?</h2>
    <form action="/sessions" method="POST">

      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Logout">
    </form>

 <% else %>
  <button class="user_auth"><a href="/sign_up">Sign up</a></button>
  <button class="user_auth"><a href="/login">Log in</a></button>
<% end %>





<main class="podcast-listing">
  <% podcasts.each do |podcast|%>

    <section class="podcast">
      <img src="<%=podcast["image_url"] %>" alt="">

      <h3><%= podcast["podcast_title"]%></h3>

      <h4><%= podcast["genre"]%></h4>
      <h4>About:</h4>
      <p><%= podcast["about"]%></p>

      <a href="/podcasts/<%= podcast["id"]%>"> View show </a>
    </section>
  
  <% end %>

</main>