<main class="page-content">

  <div class="show-left">
    <img src="<%=podcasts["image_url"] %>" alt="<%= podcasts["podcast_title"]%> podcast image">

  </div>

  <div class="show-right">
    <h1><%= podcasts["podcast_title"]%></h1>

    <h4>Genre: <%= podcasts["genre"]%></h4>


    <h4 class="synopsis">About: </h4>
    <p><%=podcasts["about"]%></p>

    <a class="view-btn" href="<%=podcasts["show_url"]%>" target="_blank">Listen here</a>

    <div class="update-btns">
      <button><a href="/podcasts/<%=podcasts["id"]%>/edit">Edit show</a></button>

      <form action="/podcasts/<%=podcasts["id"]%>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete"/>
      </form>

    </div>

    <div class="back-to-menu">
      <a class="view-btn" href="/podcasts">Return to podcasts</a>
    </div>

  </div>
</main>